<h2>complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="nombre y apellido">
    <input type="text" placeholder="fecha">
    <input type="text" placeholder="tematica">
    <input type="submit">
</form>